# PostgreSQL EV Database Table Extraction App

### This app creates a link to our PostgreSQL database using the python library 'psycopg2' and allows us to ask the user to input any 'SELECT' SQL statement to extract any data from our database into a csv and display it as a pandas dataframe

In [1]:
# Import python libraries
import psycopg2
import pandas as pd

# Import postgres server info key
from postgres_info import user, password


# Use a 'try' statement to attempt to establish a connection to the PostgreSQL database 
try:

    # Connect to the database using login info stored in 'postgres_info.py'
    conn = psycopg2.connect(
        host="127.0.0.1",
        port="5432",
        user=user,
        password=password,
        database="ev_db"
    )

# Use 'except' statement to handle errors connenting to the database
except psycopg2.Error as e:
    print("Error connecting to the 'ev_db' database:")
    print(e)

# Use 'else' statement to continue program if connection is successful
else:
    print("Connection to 'ev_db' database established successfully")
    
    # Create a cursor object
    cursor = conn.cursor()
    
    # Create a variable to hold all table names and column names in our database
    select_table_names = """SELECT table_name,column_name FROM INFORMATION_SCHEMA.COLUMNS WHERE table_schema = 'public';"""
    
    # Execute the SQL query above
    cursor.execute(select_table_names)
    
    # Fetch all data from the query execution above
    tables_rows = cursor.fetchall()
    
    # Assemble the data into a dataframe
    tables_rows_df = pd.DataFrame(tables_rows).sort_values(by=0)
    
    # Show the dataframe
    print(f'Available Tables and Columns:  {tables_rows_df}')

    # Close cursor 
    cursor.close()

    # Close the connection to the database
    conn.close()


# Create a 'while True:' statement to allow user to run script again until they quit
while True:

    # Create a 'try' statement to attempt to reconnect to database
    try:

        # Reconnect to the database
        conn = psycopg2.connect(
            host="127.0.0.1",
            port="5432",
            user=user,
            password=password,
            database="ev_db"
        )
    
    # Use 'except' statement to handle errors connenting to the database
    except psycopg2.Error as e:
        print("Error reconnecting to the 'ev_db' database:")
        print(e)
        # Break 'while True:' loop 
        break

    # Use 'else' statement to continue program if reconnection is successful
    else:
        print("Reconnection to 'ev_db' database established successfully")


    # Create another 'try' statement to run user selected SQL query and handle errors that occuer
    try:
        
        # Recreate the cursor
        cursor = conn.cursor()

        # Create an input variable for users to write their own SQL query
        input_query = input("Enter a SQL query to download table as CSV: ")

        # Execute the query that holds the user selection
        cursor.execute(input_query)
        
        # Print statement to show user's query executed successfully 
        print(f'Query Executed Successfully: {input_query}')
        
        # Fetch all rows from the result
        rows = cursor.fetchall()
        
        # Use cursor.description to get column names from SQL query
        column_names = [desc[0] for desc in cursor.description]
        
        # Assemble data into a dataframe
        input_df = pd.DataFrame(rows, columns=column_names)
        
        # Ask for name for CSV
        csv_name = input("Enter a name for the CSV: ")
        
        # Save as csv to Input_App_CSVs directory
        input_df.to_csv(f"Input_App_CSVs/{csv_name}.csv", index=False)
        
        # Print statement to show user CSV was saved successfully
        print(f"Data successfully saved to 'Input_App_CSVs' as '{csv_name}'")
        
        # Close the cursor
        cursor.close()

        # Show dataframe
        print(f'Results of {input_query}')
        print(input_df)

    # Use expect to handle error    
    except psycopg2.Error as e:
        print(f"Error: {e}")


    # Close connection
    conn.close()

    # Use an input variable to ask if the user if they want to run the program again
    run_again = input("Do you want to run the script again? (yes/no): ").strip().lower()

    # Create an 'if' statement to handle user typing anything but 'yes'
    if run_again != "yes":
        print("Thank you for using our app!")
        # Close connection
        conn.close()
        # Break the program if user does not type 'yes'
        break


# Show dataframe
print('')
print(f'Results of {input_query}')
input_df

Connection to 'ev_db' database established successfully
Available Tables and Columns:                      0                     1
23   cafv_eligibility               cafv_id
25   cafv_eligibility      cafv_eligibility
3       county_income      percapita_income
24      county_income             fips_code
26      county_income           income_year
29      location_info                county
1       location_info              latitude
2       location_info             longitude
27      location_info           postal_code
5       location_info                  city
6       location_info                 state
7       location_info  legislative_district
8       location_info     census_tract_2020
28      location_info             fips_code
21  utility_companies    utility_company_id
22  utility_companies  utility_company_name
12      vehicle_types                 model
11      vehicle_types                  make
9       vehicle_types       vehicle_type_id
13      vehicle_types               ev_type
10      vehicle_types            model_year
0            vehicles             base_msrp
19           vehicles               cafv_id
18           vehicles    utility_company_id
17           vehicles             fips_code
16           vehicles           postal_code
15           vehicles       vehicle_type_id
4            vehicles        electric_range
20           vehicles                   vin
14           vehicles        dol_vehicle_id
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM vehicles;
Data successfully saved to 'Input_App_CSVs' as 'vehicle_table_extracted'
Results of SELECT * FROM vehicles;
       dol_vehicle_id vehicle_type_id postal_code fips_code  \
0           125450447          vm0027       98177     53033
1           101662900          vm0199       98112     53033
2           272118717          vm0288       98359     53035
3           349372929          vm0129       98501     53067
4           171625653          vm0081       98506     53067
...               ...             ...         ...       ...
216735      122822822          vm0021       98802     53017
216736      267143887          vm0479       98229     53073
216737      274988388          vm0518       98052     53033
216738      117353064          vm0021       98329     53053
216739      240754006          vm0420       98391     53053

       utility_company_id cafv_id         vin electric_range base_msrp
0                   uc001   cafv1  xxxxxxCP8D           75.0      0.00
1                   uc001   cafv1  xxxxxxE45K          270.0      0.00
2                   uc002   cafv2  xxxxxxE28M            0.0      0.00
3                   uc002   cafv3  xxxxxxFP6H           25.0      0.00
4                   uc002   cafv3  xxxxxxCU9G           19.0      0.00
...                   ...     ...         ...            ...       ...
216735              uc025   cafv1  xxxxxxE44D           38.0      0.00
216736              uc023   cafv1  xxxxxxLF9R           33.0      0.00
216737              uc004   cafv2  xxxxxxEE9R            0.0      0.00
216738              uc022   cafv1  xxxxxxE49D           38.0      0.00
216739              uc004   cafv2  xxxxxxEA1P            0.0      0.00

[216740 rows x 9 columns]
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM vehicle_types;
Data successfully saved to 'Input_App_CSVs' as 'vehicle_types_table_extracted'
Results of SELECT * FROM vehicle_types;
    vehicle_type_id model_year    make     model  \
0            vm0001       1999    FORD    RANGER
1            vm0002       2000    FORD    RANGER
2            vm0003       2002  TOYOTA      RAV4
3            vm0004       2003  TOYOTA      RAV4
4            vm0005       2008   TESLA  ROADSTER
..              ...        ...     ...       ...
553          vm0554       2025   VOLVO      EX40
554          vm0555       2025   VOLVO       S60
555          vm0556       2025   VOLVO       V60
556          vm0557       2025   VOLVO      XC60
557          vm0558       2025   VOLVO      XC90

                                    ev_type
0            Battery Electric Vehicle (BEV)
1            Battery Electric Vehicle (BEV)
2            Battery Electric Vehicle (BEV)
3            Battery Electric Vehicle (BEV)
4            Battery Electric Vehicle (BEV)
..                                      ...
553          Battery Electric Vehicle (BEV)
554  Plug-in Hybrid Electric Vehicle (PHEV)
555  Plug-in Hybrid Electric Vehicle (PHEV)
556  Plug-in Hybrid Electric Vehicle (PHEV)
557  Plug-in Hybrid Electric Vehicle (PHEV)

[558 rows x 5 columns]
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM utility_companies;
Data successfully saved to 'Input_App_CSVs' as 'utility_companies_table_extracted'
Results of SELECT * FROM utility_companies;
   utility_company_id                               utility_company_name
0               uc001       CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA)
1               uc002                             PUGET SOUND ENERGY INC
2               uc003                                         PACIFICORP
3               uc004      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
4               uc005                           PUD NO 2 OF GRANT COUNTY
..                ...                                                ...
70              uc071  BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF F...
71              uc072  BONNEVILLE POWER ADMINISTRATION||BENTON RURAL ...
72              uc073  BONNEVILLE POWER ADMINISTRATION||PUD NO 1 OF A...
73              uc074  BONNEVILLE POWER ADMINISTRATION||NESPELEM VALL...
74              uc075  BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...

[75 rows x 2 columns]
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM location_info;
Data successfully saved to 'Input_App_CSVs' as 'location_info_table_extracted'
Results of SELECT * FROM location_info;
    postal_code fips_code       county               city state  \
0         99403     53003       Asotin          Clarkston    WA
1         99402     53003       Asotin             Asotin    WA
2         99371     53001        Adams          Washtucna    WA
3         99362     53071  Walla Walla        Walla Walla    WA
4         99361     53071  Walla Walla          Waitsburg    WA
..          ...       ...          ...                ...   ...
908       12866     36091     Saratoga   Saratoga Springs    NY
909       12833     36091     Saratoga  Greenfield Center    NY
910       11572     36059       Nassau          Oceanside    NY
911       11209     36047        Kings           Brooklyn    NY
912       10023     36061     New York           New York    NY

    legislative_district   latitude    longitude census_tract_2020
0                      9  46.414020  -117.045560       53003960300
1                      9  46.340560  -117.047840       53003960100
2                      9  46.755780  -118.311000       53001950200
3                     16  46.070680  -118.342610       53071920901
4                     16  46.270130  -118.154480       53071920100
..                   ...        ...          ...               ...
908                       43.084120   -73.784410       36091061102
909                       43.128400   -73.846430       36091060601
910                       40.642120   -73.640360       36059413200
911                       40.629560   -74.031510       36047013800
912                       40.775130   -73.982280       36061015102

[913 rows x 9 columns]
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM county_income;
Data successfully saved to 'Input_App_CSVs' as 'county_income_table_extracted'
Results of SELECT * FROM county_income;
     fips_code income_year percapita_income
0        01001        2023         32029.10
1        01003        2023        154560.83
2        01005        2023         10210.34
3        01007        2023          8711.12
4        01009        2023         26929.60
...        ...         ...              ...
3135     56037        2023         26446.67
3136     56039        2023        109597.23
3137     56041        2023         10237.74
3138     56043        2023          4431.28
3139     56045        2023          3702.21

[3140 rows x 3 columns]
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT * FROM cafv_eligibility;
Data successfully saved to 'Input_App_CSVs' as 'cafv_eligibility_table_extracted'
Results of SELECT * FROM cafv_eligibility;
  cafv_id                                   cafv_eligibility
0   cafv1            Clean Alternative Fuel Vehicle Eligible
1   cafv2  Eligibility unknown as battery range has not b...
2   cafv3              Not eligible due to low battery range
Reconnection to 'ev_db' database established successfully
Query Executed Successfully: SELECT vehicle_types.model_year, vehicle_types.make, vehicle_types.model FROM vehicle_types WHERE make = 'TESLA';
Data successfully saved to 'Input_App_CSVs' as 'all_tesla_models_extracted'
Results of SELECT vehicle_types.model_year, vehicle_types.make, vehicle_types.model FROM vehicle_types WHERE make = 'TESLA';
   model_year   make       model
0        2008  TESLA    ROADSTER
1        2010  TESLA    ROADSTER
2        2011  TESLA    ROADSTER
3        2012  TESLA     MODEL S
4        2013  TESLA     MODEL S
5        2014  TESLA     MODEL S
6        2015  TESLA     MODEL S
7        2016  TESLA     MODEL S
8        2016  TESLA     MODEL X
9        2017  TESLA     MODEL 3
10       2017  TESLA     MODEL S
11       2017  TESLA     MODEL X
12       2018  TESLA     MODEL 3
13       2018  TESLA     MODEL S
14       2018  TESLA     MODEL X
15       2019  TESLA     MODEL 3
16       2019  TESLA     MODEL S
17       2019  TESLA     MODEL X
18       2020  TESLA     MODEL 3
19       2020  TESLA     MODEL S
20       2020  TESLA     MODEL X
21       2020  TESLA     MODEL Y
22       2021  TESLA     MODEL 3
23       2021  TESLA     MODEL S
24       2021  TESLA     MODEL X
25       2021  TESLA     MODEL Y
26       2022  TESLA     MODEL 3
27       2022  TESLA     MODEL S
28       2022  TESLA     MODEL X
29       2022  TESLA     MODEL Y
30       2023  TESLA     MODEL 3
31       2023  TESLA     MODEL S
32       2023  TESLA     MODEL X
33       2023  TESLA     MODEL Y
34       2024  TESLA  CYBERTRUCK
35       2024  TESLA     MODEL 3
36       2024  TESLA     MODEL S
37       2024  TESLA     MODEL X
38       2024  TESLA     MODEL Y
Thank you for using our app!

Results of SELECT vehicle_types.model_year, vehicle_types.make, vehicle_types.model FROM vehicle_types WHERE make = 'TESLA';

   model_year   make       model
0        2008  TESLA    ROADSTER
1        2010  TESLA    ROADSTER
2        2011  TESLA    ROADSTER
3        2012  TESLA     MODEL S
4        2013  TESLA     MODEL S
5        2014  TESLA     MODEL S
6        2015  TESLA     MODEL S
7        2016  TESLA     MODEL S
8        2016  TESLA     MODEL X
9        2017  TESLA     MODEL 3
10       2017  TESLA     MODEL S
11       2017  TESLA     MODEL X
12       2018  TESLA     MODEL 3
13       2018  TESLA     MODEL S
14       2018  TESLA     MODEL X
15       2019  TESLA     MODEL 3
16       2019  TESLA     MODEL S
17       2019  TESLA     MODEL X
18       2020  TESLA     MODEL 3
19       2020  TESLA     MODEL S
20       2020  TESLA     MODEL X
21       2020  TESLA     MODEL Y
22       2021  TESLA     MODEL 3
23       2021  TESLA     MODEL S
24       2021  TESLA     MODEL X
25       2021  TESLA     MODEL Y
26       2022  TESLA     MODEL 3
27       2022  TESLA     MODEL S
28       2022  TESLA     MODEL X
29       2022  TESLA     MODEL Y
30       2023  TESLA     MODEL 3
31       2023  TESLA     MODEL S
32       2023  TESLA     MODEL X
33       2023  TESLA     MODEL Y
34       2024  TESLA  CYBERTRUCK
35       2024  TESLA     MODEL 3
36       2024  TESLA     MODEL S
37       2024  TESLA     MODEL X
38       2024  TESLA     MODEL Y